@import '~@angular/material/theming';

@mixin vis-theme($theme) {
    $primary: map-get($theme,primary);
    $accent: map-get($theme,accent);
    $warn: map-get($theme,warn);
    $accent2: map-get($theme,accent2);

    #visualizationContainer {
        map-visualization {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            .vis-container,
            .vis-container agm-map {
                width: 100%;
                height: 100%;
            }
        }
    }

    #explorePhenoSteps {
        // icons for the map species/phenophase selection step
        .step-host .plot svg.icon {
            fill: mat-color($accent2);
        }
    }

    #explorePhenoSubControls.full-screen {
        width: 100%;
        .drawer-contents {
            padding: 0px;
        }
        .control-host.full-screen {
            width: 100%;
            height: 100%;
            ng-component,
            .agm-map-container-inner {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }

}