<mat-drawer-container class="mat-typography" id="explorePhenologicalFindings" autosize>
    <mat-drawer mode="side" opened disableClose="true" id="explorePhenoSteps">
        <div class="drawer-title"><div class="title-inner">Explore phenological findings</div></div>
        <div class="drawer-contents">
            <div class="step-wrapper">
                <div class="step-lines" *ngIf="activeVis"></div>
                <div class="step-gradient" *ngIf="!activeVis"></div>
                <div class="steps">
                    <div *ngFor="let step of steps; last as isLast, first as isFirst" class="step" [ngClass]="{first:isFirst,last:isLast}">
                        <!-- state held on title, not icon so can be used to prevent mouse events -->
                        <div class="step-title" (click)="focusStep(step)" [ngClass]="{
                            'bogus-title': (!isFirst && !activeVis),
                            'unavailable': step.$stepInstance?.state === 'unavailable'
                        }">
                            <step-icon [step]="step" [active]="step === activeStep"></step-icon>
                            <div class="text">{{step.title}}<div class="bogus-bar" *ngIf="!isFirst && !activeVis"></div></div>
                        </div>
                        <div class="step-host">
                            <div #stepHost class="component-anchor"></div><!-- component inserted after ??-->
                        </div>
                        <div class="step-line-cover" *ngIf="isLast"></div>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <mat-drawer-container autosize>
                <mat-drawer mode="over" [opened]="controlsOpen" disableClose="true" id="explorePhenoControls">
                    <div class="drawer-title">
                        <div class="title-caret"></div>
                        <div class="title-inner">{{activeStep?.controlTitle||activeStep?.title}}</div>
                        <div class="close-control" (click)="closeControls()"><fa-icon [icon]="faArrowLeft"></fa-icon></div>
                    </div>
                    <div class="drawer-contents">
                        <div *ngFor="let step of steps" [ngClass]="{'control-host':true,'active-step':(step === activeStep)}">
                            <div #controlHost class="component-anchor"></div>
                        </div>
                    </div>
                </mat-drawer>
                <mat-drawer-content id="visualizationContainer">
                    <!-- TODO 3rd level controls will put yet another mat-drawer-container here -->
                    <div #visualizationHost class="component-anchor"></div>
                    <div *ngIf="!activeVis" id="noActiveVis">
                        <npn-logo></npn-logo>
                        <div class="mat-h3 headline">PREPARING PHENO PHINDINGS</div>
                    </div>
<!--pre>
activeStep="{{activeStep?.title}}"
</pre>
<pre *ngIf="activeVis && activeVis.selection && activeVis.selection.external; else objVis">
{{activeVis.selection.external | json}}
</pre>
<ng-template #objVis>
<pre>
{{activeVis?.selection | json}}
</pre>
</ng-template-->
                </mat-drawer-content>
            </mat-drawer-container>
    </mat-drawer-content>
</mat-drawer-container>
      
      
      