<mat-drawer-container class="mat-typography" id="explorePhenologicalFindings" autosize>
    <mat-drawer mode="side" opened disableClose="true" id="explorePhenoSteps">
        <div class="drawer-title"><div class="title-inner">Explore phenological findings</div></div>
        <div class="drawer-contents">
            <div class="step-wrapper">
                <div class="step-lines" *ngIf="activeVis"></div>
                <div class="step-gradient" *ngIf="!activeVis"></div>
                <div class="steps">
                    <div *ngFor="let step of steps; last as isLast, first as isFirst" class="step" [ngClass]="{first:isFirst,last:isLast}">
                        <!-- state held on title, not icon so can be used to prevent mouse events -->
                        <div class="step-title" (click)="focusStep(step)" [ngClass]="{
                            'bogus-title': (!isFirst && !activeVis),
                            'unavailable': step.$stepInstance?.state === 'unavailable'
                        }">
                            <step-icon [step]="step" [active]="step === activeStep"></step-icon>
                            <div class="text">{{step?.$stepInstance?.title}}<div class="bogus-bar" *ngIf="!isFirst && !activeVis"></div></div>
                        </div>
                        <div class="step-host">
                            <div #stepHost class="component-anchor" id="step-{{step.$id}}"></div><!-- component inserted after ??-->
                        </div>
                        <div class="step-line-cover" *ngIf="isLast"></div>
                    </div>
                </div>
            </div>
            <person-info [hidden]="!activeVis?.selection?.personId && !activeVis?.selection?.groupId" [selection]="activeVis?.selection"></person-info>
            <reset-visualization *ngIf="activeVis" [selection]="activeVis?.selection" (reset)="reset()"></reset-visualization>
            <share-visualization *ngIf="activeVis" [selection]="activeVis?.selection"></share-visualization>
            <export-visualization *ngIf="activeVis?.selection?.$supportsPop && activeVis?.selection?.toPOPInput" [selection]="activeVis.selection"></export-visualization>
            <share-description *ngIf="activeVis?.selection?.$shared?.description" [selection]="activeVis.selection"></share-description>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <mat-drawer-container autosize>
                <mat-drawer mode="side" [opened]="controlsOpen | async" (openedChange)="resize()" disableClose="true" id="explorePhenoControls">
                    <div class="drawer-title">
                        <div class="title-caret"></div>
                        <div class="title-inner">{{activeStep?.$controlInstance?.title||activeStep?.title}}</div>
                        <div class="close-control" (click)="controlsOpen.next(false)"><fa-icon [icon]="faArrowLeft"></fa-icon></div>
                    </div>
                    <div class="drawer-contents">
                        <div class="selection-working" [ngStyle]="{display: activeVis && activeVis.selection && activeVis.selection.working ? 'inherit' : 'none'}"></div>
                        <div *ngFor="let step of steps; last as isLast, index as stepIndex" [ngClass]="{'control-host':true,'active-step':(step === activeStep)}">
                            <div #controlHost class="component-anchor"  id="ctrl-{{step.$id}}"></div>
                            <button *ngIf="!isLast" mat-stroked-button color="accent" class="next-step"
                                [disabled]="steps[stepIndex+1].$stepInstance?.state === 'unavailable'"
                                (click)="focusStep(steps[stepIndex+1])">Next <fa-icon [icon]="faArrowRight"></fa-icon></button>
                        </div>
                    </div>
                </mat-drawer>
                <mat-drawer-content>
                    <mat-drawer-container autosize>
                        <mat-drawer mode="over" [opened]="subControlsOpen$ | async" (openChange)="resize()" disableClose="true" id="explorePhenoSubControls" [ngClass]="{'full-screen':activeStep && activeStep.$subControlInstance && activeStep.$subControlInstance.$fullScreen}">
                            <div class="drawer-title">
                                <div class="title-caret"></div>
                                <div class="title-inner">{{activeStep?.$subControlInstance?.title||activeStep?.title}}</div>
                                <div class="close-control" [ngClass]="{
                                    disabled: (activeStep && activeStep.$subControlInstance && activeStep.$subControlInstance.$closeDisabled)
                                }" (click)="subControlsOpen.next(false)"><fa-icon [icon]="faArrowLeft"></fa-icon></div>
                            </div>
                            <div class="drawer-contents">
                                <div *ngFor="let step of steps; last as isLast, index as stepIndex" [ngClass]="{
                                    'control-host':true,
                                    'active-step':(!!step.subControlComponent && (step === activeStep)),
                                    'full-screen':(!!step.subControlComponent && !!step.$subControlInstance && step.$subControlInstance.$fullScreen)
                                }">
                                    <div #subControlHost class="component-anchor"  id="subctrl-{{step.$id}}"></div>
                                </div>
                            </div>
                        </mat-drawer>
                        <mat-drawer-content id="visualizationContainer" [ngClass]="{'full-screen': activeVis?.fullScreen}">
                            <div #visualizationHost class="component-anchor"></div>
                            <div *ngIf="!activeVis" id="noActiveVis">
                                <npn-logo></npn-logo>
                                <div class="mat-h3 headline">PREPARING VISUALIZATION</div>
                            </div>
                        </mat-drawer-content>
                    </mat-drawer-container>
    
<!--pre>
activeStep="{{activeStep?.title}}"
</pre>
<pre *ngIf="activeVis && activeVis.selection && activeVis.selection.external; else objVis">
{{activeVis.selection.external | json}}
</pre>
<ng-template #objVis>
<pre>
{{activeVis?.selection | json}}
</pre>
</ng-template-->
                </mat-drawer-content>
            </mat-drawer-container>
    </mat-drawer-content>
</mat-drawer-container>
      
      
      