@import '~@angular/material/theming';

@mixin settings-theme($theme) {
    $primary: map-get($theme,primary);
    $accent: map-get($theme,accent);
    $warn: map-get($theme,warn);
    $accent2: map-get($theme,accent2);

    #applicationSettings {
        $border-color: mat-color($primary);
        section {
            border-top: 1px solid $border-color;
        }
    }
}