// primary app palette
// http://mcg.mbitson.com/#!?warn=%23f37022&accent2=%2368bd46&primary=%23414141&accent=%233b94d0&themename=npnlogo
/* For use in src/lib/core/theming/_palette.scss */
$md-warn: (
    50 : #ffffff,
    100 : #fde4d5,
    200 : #fac1a0,
    300 : #f6965c,
    400 : #f5833f,
    500 : #f37022,
    600 : #ea5f0d,
    700 : #cd530b,
    800 : #b0480a,
    900 : #933c08,
    A100 : #ffffff,
    A200 : #ffcdaf,
    A400 : #ff8d49,
    A700 : #f97e35,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent2: (
    50 : #ffffff,
    100 : #daefd1,
    200 : #b8e0a8,
    300 : #8dcd73,
    400 : #7ac55d,
    500 : #68bd46,
    600 : #5ba83c,
    700 : #4f9234,
    800 : #437b2c,
    900 : #366524,
    A100 : #ffffff,
    A200 : #bef4a8,
    A400 : #80d95d,
    A700 : #75c953,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-primary: (
    50 : #c6c6c6,
    100 : #9f9f9f,
    200 : #838383,
    300 : #606060,
    400 : #505050,
    500 : #414141,
    600 : #323232,
    700 : #222222,
    800 : #131313,
    900 : #040404,
    A100 : #d3aeae,
    A200 : #b06b6b,
    A400 : #684d4d,
    A700 : #524a4a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #ffffff,
    100 : #d3e7f4,
    200 : #a6ceea,
    300 : #6cafdc,
    400 : #54a1d6,
    500 : #3b94d0,
    600 : #2e84bf,
    700 : #2873a6,
    800 : #22628d,
    900 : #1c5175,
    A100 : #ffffff,
    A200 : #a9dafb,
    A400 : #56ade8,
    A700 : #4aa0da,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

