// primary app palette
// http://mcg.mbitson.com/#!?warn=%23cc6600&accent=%230066cc&primary=%23414141&themename=npn
/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */
$md-warn: (
    50 : #ffebd6,
    100 : #ffc48a,
    200 : #ffa852,
    300 : #ff850a,
    400 : #eb7500,
    500 : #cc6600,
    600 : #ad5700,
    700 : #8f4700,
    800 : #703800,
    900 : #522900,
    A100 : #ffe5cc,
    A200 : #ffb366,
    A400 : #ff8000,
    A700 : #e67300,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #d6ebff,
    100 : #8ac4ff,
    200 : #52a8ff,
    300 : #0a85ff,
    400 : #0075eb,
    500 : #0066cc,
    600 : #0057ad,
    700 : #00478f,
    800 : #003870,
    900 : #002952,
    A100 : #cce5ff,
    A200 : #66b2ff,
    A400 : #007fff,
    A700 : #0073e6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-primary: (
    50 : #c6c6c6,
    100 : #9f9f9f,
    200 : #838383,
    300 : #606060,
    400 : #505050,
    500 : #414141,
    600 : #323232,
    700 : #222222,
    800 : #131313,
    900 : #040404,
    A100 : #d3aeae,
    A200 : #b06b6b,
    A400 : #684d4d,
    A700 : #524a4a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// TODO drop icon palette

// http://mcg.mbitson.com/#!?iconprimary=%2314cc93&iconaccent=%2389a64a&iconwarn=%23ff8000&themename=npnprimary
// icon colors warn matches primary warn above.
$md-iconprimary: (
    50 : #e3f9f2,
    100 : #b9f0df,
    200 : #8ae6c9,
    300 : #5bdbb3,
    400 : #37d4a3,
    500 : #14cc93,
    600 : #12c78b,
    700 : #0ec080,
    800 : #0bb976,
    900 : #06ad64,
    A100 : #d8ffec,
    A200 : #a5ffd3,
    A400 : #72ffba,
    A700 : #59ffae,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-iconaccent: (
    50 : #f1f4e9,
    100 : #dce4c9,
    200 : #c4d3a5,
    300 : #acc180,
    400 : #9bb365,
    500 : #89a64a,
    600 : #819e43,
    700 : #76953a,
    800 : #6c8b32,
    900 : #597b22,
    A100 : #e3ffba,
    A200 : #cfff87,
    A400 : #baff54,
    A700 : #b0ff3b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-iconwarn: (
    50 : #fff0e0,
    100 : #ffd9b3,
    200 : #ffc080,
    300 : #ffa64d,
    400 : #ff9326,
    500 : #ff8000,
    600 : #ff7800,
    700 : #ff6d00,
    800 : #ff6300,
    900 : #ff5000,
    A100 : #ffffff,
    A200 : #fff5f2,
    A400 : #ffcfbf,
    A700 : #ffbca6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


