// primary app palette
// http://mcg.mbitson.com/#!?warn=%23f37022&accent2=%2368bd46&primary=%23414141&accent=%233b94d0&themename=npnlogo
/* For use in src/lib/core/theming/_palette.scss */
$md-warn: (
    50 : #feeee4,
    100 : #fbd4bd,
    200 : #f9b891,
    300 : #f79b64,
    400 : #f58543,
    500 : #f37022,
    600 : #f1681e,
    700 : #ef5d19,
    800 : #ed5314,
    900 : #ea410c,
    A100 : #ffffff,
    A200 : #ffe7e1,
    A400 : #ffbeae,
    A700 : #ffaa95,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent2: (
    50 : #edf7e9,
    100 : #d2ebc8,
    200 : #b4dea3,
    300 : #95d17e,
    400 : #7fc762,
    500 : #68bd46,
    600 : #60b73f,
    700 : #55ae37,
    800 : #4ba62f,
    900 : #3a9820,
    A100 : #dcffd4,
    A200 : #b3ffa1,
    A400 : #89ff6e,
    A700 : #75ff54,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-primary: (
    50 : #e8e8e8,
    100 : #c6c6c6,
    200 : #a0a0a0,
    300 : #7a7a7a,
    400 : #5e5e5e,
    500 : #414141,
    600 : #3b3b3b,
    700 : #323232,
    800 : #2a2a2a,
    900 : #1c1c1c,
    A100 : #f07777,
    A200 : #eb4949,
    A400 : #ff0202,
    A700 : #e70000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #e7f2f9,
    100 : #c4dff1,
    200 : #9dcae8,
    300 : #76b4de,
    400 : #58a4d7,
    500 : #3b94d0,
    600 : #358ccb,
    700 : #2d81c4,
    800 : #2677be,
    900 : #1965b3,
    A100 : #e7f2ff,
    A200 : #b4d7ff,
    A400 : #81bbff,
    A700 : #68aeff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

