/* TODO deal with shared css
@import '../node_modules/npn_common/styles.scss';
*/
@import '../../npn/common/src/lib/styles.scss';

// TODO @npn/common uses font based 4.7.0 icons
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


@import '~@angular/material/theming';

// make sure this happens only once
@include mat-core();
@import '_material-palettes';

// the contrast color of the 500 for the accent palette is very dark (dark on dark)
// the mockups would like accent buttons to have white foreground text
// this may need to change if/when the palette changes but just forcing it to white.
// not updating it IN the palette since that's intended to be cut/paste
$accent-contrast: map-get($md-accent,contrast);
$accent-contrast: map-merge($accent-contrast,(500:#ffffff));
$md-accent: map-merge($md-accent,(contrast:$accent-contrast));

$primary-palette: mat-palette($md-primary);
$accent-palette: mat-palette($md-accent);


$warn-palette: mat-palette($md-warn);
$app-dark-base-theme: mat-dark-theme($primary-palette, $accent-palette, $warn-palette);
$app-light-base-theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);

// add another key to the maps with a 4th palette for accent purposes...
// TODO - update with color/s of Jon's choosing..
$accent2-palette: mat-palette($md-accent2);
$app-dark-theme: map-merge($app-dark-base-theme,(accent2:$accent2-palette));
$app-light-theme: map-merge($app-light-base-theme,(accent2:$accent2-palette));




// import component mixins here
@import './app/app-component-theme';

@include angular-material-theme($app-dark-theme);
// call core app mixins here
@include app-component-theme($app-dark-theme);

@import './app/routes/explore_pheno/explore-pheno-theme';
@import './app/routes/explore_pheno/step_controls/vis-selection-theme';

body {
    margin: 0px;
    padding: 0px;
    #explorePhenologicalFindings {
        @include angular-material-theme($app-light-theme);
        @include explore-pheno-theme($app-light-theme);
        @include vis-selection-theme($app-light-theme);
    }
}