@import '../../npn/common/src/lib/styles.scss';

@import '~@angular/material/theming';

// make sure this happens only once
@include mat-core();
@import '_material-palettes';

// the contrast color of the 500 for the accent palette is very dark (dark on dark)
// the mockups would like accent buttons to have white foreground text
// this may need to change if/when the palette changes but just forcing it to white.
// not updating it IN the palette since that's intended to be cut/paste
$accent-contrast: map-get($md-accent,contrast);
$accent-contrast: map-merge($accent-contrast,(500:#ffffff));
$md-accent: map-merge($md-accent,(contrast:$accent-contrast));

$primary-palette: mat-palette($md-primary);
$accent-palette: mat-palette($md-accent);


$warn-palette: mat-palette($md-warn);
$app-dark-base-theme: mat-dark-theme($primary-palette, $accent-palette, $warn-palette);
$app-light-base-theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);

// add another key to the maps with a 4th palette for accent purposes...
$accent2-palette: mat-palette($md-accent2);
$app-dark-theme: map-merge($app-dark-base-theme,(accent2:$accent2-palette));
$app-light-theme: map-merge($app-light-base-theme,(accent2:$accent2-palette));

@import './app/app-component-theme';

@include angular-material-theme($app-dark-theme);
// call core app mixins here
@include app-component-theme($app-dark-theme);

@import './app/routes/explore_pheno/explore-pheno-theme';
@import './app/routes/pheno_near/pheno-near-theme';
@import './app/routes/settings/settings-theme';
@import './app/select-tree/select-tree-theme';

body {
    margin: 0px;
    padding: 0px;

    @include pheno-near-theme($app-dark-theme);

    #applicationRouterOutlet {
        &.light {
            @include angular-material-theme($app-light-theme);
            $background: map-get($app-light-theme, background);
            $foreground: map-get($app-light-theme, foreground);
    
            background-color: mat-color($background, background);
            color: mat-color($foreground, text);
        }
    }
    @include explore-pheno-theme($app-light-theme);
    @include settings-theme($app-light-theme);
    @include select-tree-theme($app-light-theme);
}