
@import '~@angular/material/theming';

// make sure this happens only once
@include mat-core();
@import '_material-palettes';

$primary-palette: mat-palette($md-primary);
$accent-palette: mat-palette($md-accent);
$warn-palette: mat-palette($md-warn);
$app-dark-theme: mat-dark-theme($primary-palette, $accent-palette, $warn-palette);
$app-light-theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);

$primary-icon-palette: mat-palette($md-iconprimary);
$accent-icon-palette: mat-palette($md-iconaccent);
$warn-icon-palette: mat-palette($md-iconwarn);
$icon-dark-theme: mat-dark-theme($primary-icon-palette, $accent-icon-palette, $warn-icon-palette);
$icon-light-theme: mat-light-theme($primary-icon-palette, $accent-icon-palette, $warn-icon-palette);

// import component mixins here
@import './app/app-component-theme';
@import './app/routes/explore_pheno/explore-pheno-theme';

@include angular-material-theme($app-dark-theme);
@include app-component-theme($app-dark-theme,$icon-dark-theme);

body {
    margin: 0px;
    padding: 0px;
    #explorePhenologicalFindings {
        @include angular-material-theme($app-light-theme);
        @include explore-pheno-theme($app-light-theme,$icon-light-theme);
    }
}