@import '~@angular/material/theming';

@mixin stories-theme($theme) {
    $primary: map-get($theme,primary);
    $accent: map-get($theme,accent);
    $warn: map-get($theme,warn);
    $accent2: map-get($theme,accent2);

    #stories {
        width: 100%;
        height: 100%;
        background-size: cover;
        .story-list {
            // TODO
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 0px;
            margin: 0px;
            >.story-wrapper {
                display:flex;
                flex-basis: 45%;
                padding: 10px;
                list-style: none;
                .story {
                    padding: .75em;
                    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
                    border-radius: 4px;
                    border: 1px solid transparent;
                    background-color: mat-contrast($primary,500);
                    color: mat-color($primary,500);
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .title {
                        font-size: 1.65em;
                        line-height: 1.2em;
                        margin-bottom: 10px;
                        font-weight: 400;
                    }
                    .tagline {
                        flex: 1 0 auto;
                    }
                    &:hover {
                        background-color: mat-color($accent2,50);
                        color: mat-contrast($accent2,50);
                        border-color: mat-color($accent,500);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}