@import '~@angular/material/theming';

@mixin app-component-theme($theme) {
    $primary: map-get($theme,primary);
    $accent: map-get($theme,accent);
    $warn: map-get($theme,warn);
    
    //color: mat-contrast($warn,500);
    $main-nav-active-color: mat-color($warn,500);

    mat-drawer-container {
        height: 100vh;
    }
    [mat-line].mat-caption {
        font-size: 12px !important;
    }
    
    mat-drawer.main-nav {
        background-color: mat-color($primary,800);
        .titled-logo,
        npn-logo {
            position: absolute;
            bottom: 0;
            display: none;
            margin: 15px 0;
        }
        .titled-logo {
            position: absolute;
            bottom: 0;
            margin: 15px;
        }
        npn-logo {
            width: 40px;
            left: 50%;
            transform: translateX(-50%);
            // NOTE: the .titlted-logo above is an SVG image
            // so it's paths cannot be styled like this. if the theme changes...
            path {
                fill: mat-color($primary,600);
            }
        }

        &.expanded {
            mat-list-item.active {
                background-color: $main-nav-active-color;
            }
            .titled-logo {
                display: inherit;
            }
        }
        &:not(.expanded) {
            npn-logo {
                display: inherit;
            }
            mat-list-item.active {
                color: $main-nav-active-color;
                background-color: mat-color($primary,900);
            }
        }
        mat-list-item:not(.contract) {
            &:hover {
                cursor: pointer;
            }
        }
        mat-list-item.contract {
            height: 32px !important;
            [mat-list-icon] {
                position: absolute;
                top: 0px;
                right: 0px;
                font-size: 0.9em;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    
}