@import '~@angular/material/theming';

@mixin app-component-theme($theme) {
    $primary: map-get($theme,primary);
    $accent: map-get($theme,accent);
    $warn: map-get($theme,warn);
    
    //color: mat-contrast($warn,500);
    $main-nav-active-color: mat-color($warn);

    mat-drawer-container {
        height: 100vh;
    }
    [mat-line].mat-caption {
        font-size: 12px !important;
    }
    
    mat-drawer.main-nav {
        background-color: mat-color($primary,800);
        &.expanded {
            mat-list-item.active {
                background-color: $main-nav-active-color;
            }
        }
        &:not(.expanded) {
            mat-list-item.active {
                color: $main-nav-active-color;
                background-color: mat-color($primary,900);
            }
        }
        mat-list-item:not(.contract) {
            &:hover {
                cursor: pointer;
            }
        }
        mat-list-item.contract {
            height: 32px !important;
            [mat-list-icon] {
                position: absolute;
                top: 0px;
                right: 0px;
                font-size: 0.9em;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    
}