@import '../_variables';

$db-border-color: #ddd; //darken($site-bg-color, 33%);
$tab-content-bg: transparent;
$dash-border: 2px solid $db-border-color;
$min-content-height: 800px;

$tab-height: 96px;
$tab-angle-width: $tab-height/2;

:host {
    display: block;
    background-color: $tab-content-bg;
    /* when content goes away for a flash avoid dashboard height shrinking and making the page jump around. */
    min-height: $min-content-height + $tab-height;
}

$color-tab1: #271614;
$color-tab2: #3f322b;
$color-tab3: #574d3f;

.mat-tab-header {
    .mat-ink-bar {
        display: none;
    }
    border-bottom: none;
    .mat-tab-labels {
        flex-flow: row nowrap; // from Lee
    }
    .mat-tab-labels >.mat-tab-label{
        width: 100%; // from Lee
        white-space: normal; // from Lee
        display: block;
        font-size: 0.9em;
        @media (min-width: $screen-sm-min) {
            display: flex;
        }
        @media (min-width: $screen-md-min) {
            font-size: 1em;
        }
        >.mat-tab-label-content {
            width: 100%; // from Lee
        }
        >.mat-tab-label-content,
        >.mat-tab-label-content >.rd-tab-label {
            display: block;
            padding: 0px;
            height: 100%;
        }
        height: $tab-height;
        opacity: 1;
        color: #fff;
        padding: 0px;
        background-color: $tab-content-bg;
        &:focus {
            background-color: $tab-content-bg;
        }
        &.mat-tab-label-active {
            color: orange;
        }
        &:nth-of-type(1) {
            >.mat-tab-label-content >.rd-tab-label {
                background-color: $color-tab1;
                @media (min-width: $screen-sm-min) {
                    padding-left: 24px;
                }
            }
            &::after {
                content: '';
                border-top: $tab-angle-width solid $color-tab2;
                border-right: $tab-angle-width solid $color-tab2;
                border-bottom: $tab-angle-width solid $color-tab1;
                border-left: $tab-angle-width solid $color-tab1;
            }
        }
        &:nth-of-type(2) {
            >.mat-tab-label-content >.rd-tab-label {
                background-color: $color-tab2;
            }
            &::after {
                content: '';
                border-top: $tab-angle-width solid $color-tab3;
                border-right: $tab-angle-width solid $color-tab3;
                border-bottom: $tab-angle-width solid $color-tab2;
                border-left: $tab-angle-width solid $color-tab2;
            }
        }
        &:nth-of-type(3) {
            >.mat-tab-label-content >.rd-tab-label {
                background-color: $color-tab3;
            }
            &::after {
                content: '';
                border-top: $tab-angle-width solid $tab-content-bg;
                border-right: $tab-angle-width solid $tab-content-bg;
                border-bottom: $tab-angle-width solid $color-tab3;
                border-left: $tab-angle-width solid $color-tab3;
            }
        }
    }
}

.rd-tab-label {
    position: relative;
    text-transform: uppercase;
    >label {
        color: inherit;
        margin-top: 3.25em;
    }
    &:before {
        font-family: 'FontAwesome';
        position: absolute;
        top: 0.5em;
        right: 45%;
        transform: translateX(-50%);
        font-size: 2em;
    }
    &.focal-species {
        &:before {
            content: '\f1b0';
        }
    }
    &.findings {
        &:before {
            content: '\f002';
        }
    }
    &.resources {
        &:before {
            content: '\f02d';
        }
    }
}
.rd-tab-content {
    min-height: $min-content-height;
    padding: 20px 5px;
    @media (min-width: $screen-md-min) {
        padding: 20px;
    }
    color: #000;
    border-left: $dash-border;
    border-right: $dash-border;
    background-color: #fff;
}
